In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Dataset salary 2024.csv")

#### Display the first and last five rows of the DataFrame

In [4]:
print(df.head(5))
print(df.tail(5))

   work_year experience_level employment_type                  job_title  \
0       2024               SE              FT                AI Engineer
1       2024               SE              FT                AI Engineer
2       2024               SE              FT              Data Engineer
3       2024               SE              FT              Data Engineer
4       2024               SE              FT  Machine Learning Engineer

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0  202730             USD         202730                 US             0
1   92118             USD          92118                 US             0
2  130500             USD         130500                 US             0
3   96000             USD          96000                 US             0
4  190000             USD         190000                 US             0

  company_location company_size
0               US            M
1               US            M
2               US            M
3               US            M
4               US            M
       work_year experience_level employment_type                 job_title  \
16529       2020               SE              FT            Data Scientist
16530       2021               MI              FT  Principal Data Scientist
16531       2020               EN              FT            Data Scientist
16532       2020               EN              CT     Business Data Analyst
16533       2021               SE              FT      Data Science Manager

        salary salary_currency  salary_in_usd employee_residence  \
16529   412000             USD         412000                 US
16530   151000             USD         151000                 US
16531   105000             USD         105000                 US
16532   100000             USD         100000                 US
16533  7000000             INR          94665                 IN

       remote_ratio company_location company_size
16529           100               US            L
16530           100               US            L
16531           100               US            S
16532           100               US            L
16533            50               IN            L

In [5]:
# specific column as the index of the DataFrame
df = df.set_index('job_title')

# specific column values
print(df['salary'])

job_title
AI Engineer                   202730
AI Engineer                    92118
Data Engineer                 130500
Data Engineer                  96000
Machine Learning Engineer     190000
                              ...
Data Scientist                412000
Principal Data Scientist      151000
Data Scientist                105000
Business Data Analyst         100000
Data Science Manager         7000000
Name: salary, Length: 16534, dtype: int64

In [6]:
# multiple columns
print(df[['salary', 'salary_in_usd']])

                            salary  salary_in_usd
job_title
AI Engineer                 202730         202730
AI Engineer                  92118          92118
Data Engineer               130500         130500
Data Engineer                96000          96000
Machine Learning Engineer   190000         190000
...                            ...            ...
Data Scientist              412000         412000
Principal Data Scientist    151000         151000
Data Scientist              105000         105000
Business Data Analyst       100000         100000
Data Science Manager       7000000          94665

[16534 rows x 2 columns]

In [7]:
# =subset of rows using the .loc method
print(df.loc['Data Scientist'])

# subset of rows and columns using the .iloc method
print(df.iloc[1:5, 1:3])

                work_year experience_level employment_type  salary  \
job_title
Data Scientist       2024               MI              FT  156450
Data Scientist       2024               MI              FT  119200
Data Scientist       2024               MI              FT  120000
Data Scientist       2024               MI              FT   70000
Data Scientist       2024               MI              CT  130000
...                   ...              ...             ...     ...
Data Scientist       2020               MI              FT  118000
Data Scientist       2020               MI              FT  138350
Data Scientist       2021               MI              FT  160000
Data Scientist       2020               SE              FT  412000
Data Scientist       2020               EN              FT  105000

               salary_currency  salary_in_usd employee_residence  \
job_title
Data Scientist             USD         156450                 US
Data Scientist             USD         119200                 US
Data Scientist             USD         120000                 AU
Data Scientist             USD          70000                 AU
Data Scientist             USD         130000                 US
...                        ...            ...                ...
Data Scientist             USD         118000                 US
Data Scientist             USD         138350                 US
Data Scientist             SGD         119059                 SG
Data Scientist             USD         412000                 US
Data Scientist             USD         105000                 US

                remote_ratio company_location company_size
job_title
Data Scientist           100               US            M
Data Scientist           100               US            M
Data Scientist             0               AU            S
Data Scientist             0               AU            S
Data Scientist             0               US            M
...                      ...              ...          ...
Data Scientist           100               US            M
Data Scientist           100               US            M
Data Scientist           100               IL            M
Data Scientist           100               US            L
Data Scientist           100               US            S

[3314 rows x 10 columns]
                          experience_level employment_type
job_title
AI Engineer                             SE              FT
Data Engineer                           SE              FT
Data Engineer                           SE              FT
Machine Learning Engineer               SE              FT

In [9]:
# Filter based on a condition
print(df[df['salary'] > 150000])

                                    work_year experience_level  \
job_title
AI Engineer                              2024               SE
Machine Learning Engineer                2024               SE
Machine Learning Engineer                2024               SE
ML Engineer                              2024               MI
Data Engineer                            2024               SE
...                                       ...              ...
Applied Machine Learning Scientist       2021               MI
Data Specialist                          2021               SE
Data Scientist                           2020               SE
Principal Data Scientist                 2021               MI
Data Science Manager                     2021               SE

                                   employment_type   salary salary_currency  \
job_title
AI Engineer                                     FT   202730             USD
Machine Learning Engineer                       FT   190000             USD
Machine Learning Engineer                       FT   160000             USD
ML Engineer                                     FT   400000             USD
Data Engineer                                   FT   172469             USD
...                                            ...      ...             ...
Applied Machine Learning Scientist              FT   423000             USD
Data Specialist                                 FT   165000             USD
Data Scientist                                  FT   412000             USD
Principal Data Scientist                        FT   151000             USD
Data Science Manager                            FT  7000000             INR

                                    salary_in_usd employee_residence  \
job_title
AI Engineer                                202730                 US
Machine Learning Engineer                  190000                 US
Machine Learning Engineer                  160000                 US
ML Engineer                                400000                 US
Data Engineer                              172469                 US
...                                           ...                ...
Applied Machine Learning Scientist         423000                 US
Data Specialist                            165000                 US
Data Scientist                             412000                 US
Principal Data Scientist                   151000                 US
Data Science Manager                        94665                 IN

                                    remote_ratio company_location company_size
job_title
AI Engineer                                    0               US            M
Machine Learning Engineer                      0               US            M
Machine Learning Engineer                      0               US            M
ML Engineer                                    0               US            M
Data Engineer                                  0               US            M
...                                          ...              ...          ...
Applied Machine Learning Scientist            50               US            L
Data Specialist                              100               US            L
Data Scientist                               100               US            L
Principal Data Scientist                     100               US            L
Data Science Manager                          50               IN            L

[7236 rows x 10 columns]

In [10]:
# Select a subset of rows using the .loc method
print(df.loc['Data Scientist'])

# Select a subset of rows and columns using the .iloc method
print(df.iloc[1:5, 1:3])

                work_year experience_level employment_type  salary  \
job_title
Data Scientist       2024               MI              FT  156450
Data Scientist       2024               MI              FT  119200
Data Scientist       2024               MI              FT  120000
Data Scientist       2024               MI              FT   70000
Data Scientist       2024               MI              CT  130000
...                   ...              ...             ...     ...
Data Scientist       2020               MI              FT  118000
Data Scientist       2020               MI              FT  138350
Data Scientist       2021               MI              FT  160000
Data Scientist       2020               SE              FT  412000
Data Scientist       2020               EN              FT  105000

               salary_currency  salary_in_usd employee_residence  \
job_title
Data Scientist             USD         156450                 US
Data Scientist             USD         119200                 US
Data Scientist             USD         120000                 AU
Data Scientist             USD          70000                 AU
Data Scientist             USD         130000                 US
...                        ...            ...                ...
Data Scientist             USD         118000                 US
Data Scientist             USD         138350                 US
Data Scientist             SGD         119059                 SG
Data Scientist             USD         412000                 US
Data Scientist             USD         105000                 US

                remote_ratio company_location company_size
job_title
Data Scientist           100               US            M
Data Scientist           100               US            M
Data Scientist             0               AU            S
Data Scientist             0               AU            S
Data Scientist             0               US            M
...                      ...              ...          ...
Data Scientist           100               US            M
Data Scientist           100               US            M
Data Scientist           100               IL            M
Data Scientist           100               US            L
Data Scientist           100               US            S

[3314 rows x 10 columns]
                          experience_level employment_type
job_title
AI Engineer                             SE              FT
Data Engineer                           SE              FT
Data Engineer                           SE              FT
Machine Learning Engineer               SE              FT

In [11]:
# Group the DataFrame by a specific column and calculate the mean of each group
print(df.groupby('experience_level')['salary'].mean())

# Group the DataFrame by multiple columns and calculate the sum of each group
print(df.groupby(['experience_level', 'employment_type'])['salary'].sum())

experience_level
EN    125831.628679
EX    208064.343313
MI    157116.976721
SE    168852.493440
Name: salary, dtype: float64
experience_level  employment_type
EN                CT                     450200
                  FL                     180000
                  FT                  162869068
                  PT                    3227640
EX                CT                     416000
                  FT                  103824236
MI                CT                    1405500
                  FL                    2622555
                  FT                  629827011
                  PT                     583286
SE                CT                     966896
                  FL                    3220000
                  FT                 1797123909
                  PT                     345300
Name: salary, dtype: int64

In [12]:
# Use the agg method to apply multiple aggregation functions to grouped data
print(df.groupby('experience_level')['salary'].agg(['mean', 'std']))

                           mean            std
experience_level
EN                125831.628679  350666.471044
EX                208064.343313  271464.076151
MI                157116.976721  595199.107554
SE                168852.493440  162108.937991

In [13]:
# Calculate the size of each group
print(df.groupby('experience_level').size())

experience_level
EN     1325
EX      501
MI     4038
SE    10670
dtype: int64

In [14]:
# Select rows based on multiple conditions
print(df[(df['salary'] > 150000) & (df['remote_ratio'] == 100)])

# Use the query method to filter rows
print(df.query('salary > 150000 and remote_ratio == 100'))

                          work_year experience_level employment_type  salary  \
job_title
Data Scientist                 2024               MI              FT  156450
Data Engineer                  2024               SE              FT  190000
Data Engineer                  2024               SE              FT  155000
Data Analyst                   2024               SE              FT  174000
Research Scientist             2024               MI              FT  195000
...                             ...              ...             ...     ...
Data Science Manager           2020               SE              FT  190200
Data Scientist                 2021               MI              FT  160000
Data Specialist                2021               SE              FT  165000
Data Scientist                 2020               SE              FT  412000
Principal Data Scientist       2021               MI              FT  151000

                         salary_currency  salary_in_usd employee_residence  \
job_title
Data Scientist                       USD         156450                 US
Data Engineer                        USD         190000                 US
Data Engineer                        USD         155000                 US
Data Analyst                         USD         174000                 US
Research Scientist                   USD         195000                 US
...                                  ...            ...                ...
Data Science Manager                 USD         190200                 US
Data Scientist                       SGD         119059                 SG
Data Specialist                      USD         165000                 US
Data Scientist                       USD         412000                 US
Principal Data Scientist             USD         151000                 US

                          remote_ratio company_location company_size
job_title
Data Scientist                     100               US            M
Data Engineer                      100               US            M
Data Engineer                      100               US            M
Data Analyst                       100               US            M
Research Scientist                 100               US            M
...                                ...              ...          ...
Data Science Manager               100               US            M
Data Scientist                     100               IL            M
Data Specialist                    100               US            L
Data Scientist                     100               US            L
Principal Data Scientist           100               US            L

[2206 rows x 10 columns]
                          work_year experience_level employment_type  salary  \
job_title
Data Scientist                 2024               MI              FT  156450
Data Engineer                  2024               SE              FT  190000
Data Engineer                  2024               SE              FT  155000
Data Analyst                   2024               SE              FT  174000
Research Scientist             2024               MI              FT  195000
...                             ...              ...             ...     ...
Data Science Manager           2020               SE              FT  190200
Data Scientist                 2021               MI              FT  160000
Data Specialist                2021               SE              FT  165000
Data Scientist                 2020               SE              FT  412000
Principal Data Scientist       2021               MI              FT  151000

                         salary_currency  salary_in_usd employee_residence  \
job_title
Data Scientist                       USD         156450                 US
Data Engineer                        USD         190000                 US
Data Engineer                        USD         155000                 US
Data Analyst                         USD         174000                 US
Research Scientist                   USD         195000                 US
...                                  ...            ...                ...
Data Science Manager                 USD         190200                 US
Data Scientist                       SGD         119059                 SG
Data Specialist                      USD         165000                 US
Data Scientist                       USD         412000                 US
Principal Data Scientist             USD         151000                 US

                          remote_ratio company_location company_size
job_title
Data Scientist                     100               US            M
Data Engineer                      100               US            M
Data Engineer                      100               US            M
Data Analyst                       100               US            M
Research Scientist                 100               US            M
...                                ...              ...          ...
Data Science Manager               100               US            M
Data Scientist                     100               IL            M
Data Specialist                    100               US            L
Data Scientist                     100               US            L
Principal Data Scientist           100               US            L

[2206 rows x 10 columns]

In [16]:
# Use isin to filter rows based on a list of values
print(df[df['experience_level'].isin(['SE', 'MI'])])

                           work_year experience_level employment_type  \
job_title
AI Engineer                     2024               SE              FT
AI Engineer                     2024               SE              FT
Data Engineer                   2024               SE              FT
Data Engineer                   2024               SE              FT
Machine Learning Engineer       2024               SE              FT
...                              ...              ...             ...
Data Engineer                   2021               MI              FT
Data Specialist                 2021               SE              FT
Data Scientist                  2020               SE              FT
Principal Data Scientist        2021               MI              FT
Data Science Manager            2021               SE              FT

                            salary salary_currency  salary_in_usd  \
job_title
AI Engineer                 202730             USD         202730
AI Engineer                  92118             USD          92118
Data Engineer               130500             USD         130500
Data Engineer                96000             USD          96000
Machine Learning Engineer   190000             USD         190000
...                            ...             ...            ...
Data Engineer                24000             EUR          28369
Data Specialist             165000             USD         165000
Data Scientist              412000             USD         412000
Principal Data Scientist    151000             USD         151000
Data Science Manager       7000000             INR          94665

                          employee_residence  remote_ratio company_location  \
job_title
AI Engineer                               US             0               US
AI Engineer                               US             0               US
Data Engineer                             US             0               US
Data Engineer                             US             0               US
Machine Learning Engineer                 US             0               US
...                                      ...           ...              ...
Data Engineer                             MT            50               MT
Data Specialist                           US           100               US
Data Scientist                            US           100               US
Principal Data Scientist                  US           100               US
Data Science Manager                      IN            50               IN

                          company_size
job_title
AI Engineer                          M
AI Engineer                          M
Data Engineer                        M
Data Engineer                        M
Machine Learning Engineer            M
...                                ...
Data Engineer                        L
Data Specialist                      L
Data Scientist                       L
Principal Data Scientist             L
Data Science Manager                 L

[14708 rows x 10 columns]

In [17]:
# Select specific columns and rename them
print(df[['salary', 'salary_in_usd']].rename(columns={'salary': 'Salary', 'salary_in_usd': 'Salary in USD'}))

                            Salary  Salary in USD
job_title
AI Engineer                 202730         202730
AI Engineer                  92118          92118
Data Engineer               130500         130500
Data Engineer                96000          96000
Machine Learning Engineer   190000         190000
...                            ...            ...
Data Scientist              412000         412000
Principal Data Scientist    151000         151000
Data Scientist              105000         105000
Business Data Analyst       100000         100000
Data Science Manager       7000000          94665

[16534 rows x 2 columns]